{% extends 'base.html' %}
{% load my_filters %}
{% block content %}
    <h2>Your shopping cart</h2>

    {% if cart_items %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Item name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for cart in cart_items %}
                <tr>
                    <td>{{ cart.auction.name_auction }}</td> <!-- Zobrazí název položky -->
                    <td>{{ cart.price|price_format }} Kč</td> <!-- Zobrazí cenu za kus -->
                    <td>
                        <!-- Tlačítko pro odstranění položky -->
                        <a href="?remove_auction_id={{ cart.auction.id }}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Zobrazení celkové částky košíku -->
        <h3>Celková cena: {{ cart_total_amount|price_format }} Kč</h3>

        <!-- Stylizované tlačítko pro přechod k platbě -->
        <a href="{% url 'payment' 'cart' %}" class="btn btn-primary">Proceed to payment</a>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
{% endblock %}