{% load static %}
<nav>
    {% if user.is_authenticated %}
        <div style="margin-left: 0.25cm;"> <!-- Posunutí doprava o 1 cm -->
            <p style="color: #333333;">Logged in as {{ user.username }}
                {% if user.useraccounts.account_type.account_type == 'Premium' %}
                    <span style="color: #DAA520;">(Premium User)</span>
                {% endif %}
            </p>

            {% if user.profile.avatar %}
                <a href="{% url 'profile' %}" class="btn btn-link" style="color: #333333;"><img
                        src="{{ user.profile.avatar.url }}" alt="Avatar" class="user-avatar" width="50" height="50"></a>
            {% else %}
                <a href="{% url 'profile' %}" class="btn btn-link" style="color: #333333;"><img
                        src="{% static 'avatar.png' %}" alt="Default Avatar" class="user-avatar" width="50" height="50"></a>
            {% endif %}

            <a href="{% url 'auctions' %}" class="btn btn-link" style="color: #333333;">Auctions</a>

            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-link" style="color: #333333;">Logout</button>
                <!-- Tmavě šedý text -->
            </form>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-link" style="color: #333333;">Login</a> <!-- Tmavě šedý text -->
        <a href="{% url 'sign_up' %}" class="btn btn-link" style="color: #333333;">Sign up</a> <!-- Tmavě šedý text -->
    {% endif %}
</nav>
