 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 407px;
}

.u-section-1 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1220px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 60px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 764px;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-2 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-3 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-4 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-5 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-6 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-7 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-20 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-22 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-image-8 {
  height: 211px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-23 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-24 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-25 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-9 {
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 624px;
  }

  .u-section-2 .u-image-1 {
    height: 168px;
  }

  .u-section-2 .u-image-2 {
    height: 168px;
  }

  .u-section-2 .u-image-3 {
    height: 168px;
  }

  .u-section-2 .u-image-4 {
    height: 168px;
  }

  .u-section-2 .u-image-5 {
    height: 168px;
  }

  .u-section-2 .u-image-6 {
    height: 168px;
  }

  .u-section-2 .u-image-7 {
    height: 168px;
  }

  .u-section-2 .u-image-8 {
    height: 168px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 2019px;
  }

  .u-section-2 .u-image-1 {
    height: 276px;
  }

  .u-section-2 .u-image-2 {
    height: 276px;
  }

  .u-section-2 .u-image-3 {
    height: 276px;
  }

  .u-section-2 .u-image-4 {
    height: 276px;
  }

  .u-section-2 .u-image-5 {
    height: 276px;
  }

  .u-section-2 .u-image-6 {
    height: 276px;
  }

  .u-section-2 .u-image-7 {
    height: 276px;
  }

  .u-section-2 .u-image-8 {
    height: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 449px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 449px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 449px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 449px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 449px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 449px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-7 {
    height: 449px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-8 {
    height: 449px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 299px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 299px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 299px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 299px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 299px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 299px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 299px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-8 {
    height: 299px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 793px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 541px;
  width: 704px;
  margin: 60px auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 22px;
}

.u-section-3 .u-over-slide-1 {
  padding: 30px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 22px;
}

.u-section-3 .u-over-slide-2 {
  padding: 30px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 22px;
}

.u-section-3 .u-over-slide-3 {
  padding: 30px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 22px;
}

.u-section-3 .u-over-slide-4 {
  padding: 30px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 22px;
}

.u-section-3 .u-over-slide-5 {
  padding: 30px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 22px;
}

.u-section-3 .u-over-slide-6 {
  padding: 30px;
}

.u-section-3 .u-gallery-item-7 {
  margin-right: 22px;
}

.u-section-3 .u-over-slide-7 {
  padding: 30px;
}

.u-section-3 .u-gallery-item-8 {
  margin-right: 22px;
}

.u-section-3 .u-over-slide-8 {
  padding: 30px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-3 .u-gallery-1 {
    height: 488px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-3 .u-gallery-1 {
    height: 360px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1286px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  height: auto;
  margin: 50px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 983px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  height: 433px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 810px;
  }

  .u-section-4 .u-image-1 {
    height: 348px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 70px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-image-2 {
    height: 348px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-image-3 {
    height: 348px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-image-4 {
    height: 348px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1396px;
  }

  .u-section-4 .u-image-1 {
    height: 560px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-4 .u-image-2 {
    height: 560px;
  }

  .u-section-4 .u-image-3 {
    height: 560px;
  }

  .u-section-4 .u-image-4 {
    height: 560px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 441px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 77px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 441px;
  }

  .u-section-4 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 40px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 441px;
  }

  .u-section-4 .u-text-6 {
    font-size: 2.25rem;
    margin-top: 40px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    height: 441px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 271px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 72px;
  }

  .u-section-4 .u-image-2 {
    height: 271px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-3 {
    height: 271px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-4 {
    height: 271px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 662px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 476px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-form-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 17px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 299px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  line-height: 2;
  margin: 28px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 237px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 247px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
}