{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<style>
    /* Styl pro Buy Now aukce */
    .buy-now-auction {
        border: 3px solid gold; /* Zlatý rámeček */
        background-color: #fff8dc; /* Světle žluté pozadí */
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Styl pro Promotion aukce */
    .promotion-auction {
        border: 3px solid #c79b24; /* Zlatý rámeček */
        background-color: #fff4e0; /* Světle oranžové pozadí */
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Přidání hover efektu pro zlepšení interakce */
    .buy-now-auction:hover, .promotion-auction:hover {
        transform: scale(1.02);
        transition: transform 0.2s ease-in-out;
    }
</style>

<h2>Numismatics</h2>

<h3>Poslední přidané inzeráty kup teď:</h3>
<div class="add_auction-container">
    {% for add_auction in buy_now_page_obj %}
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white buy-now-auction">
            <div class="u-container-layout u-similar-container u-container-layout-2">
                {% if add_auction.photo %}
                    <a href="{% url 'add_auction-detail' add_auction.pk %}">
                        <img class="u-expanded-width u-image u-image-default u-image-2" alt="" src="{{ add_auction.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                    </a>
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <p class="u-align-center u-text u-text-5">{{ add_auction.category }} - {{ add_auction.name_auction }}</p>
                <p class="u-align-center u-text u-text-6">{{ add_auction.buy_now_price|price_format }} Kč</p>
                <p class="u-align-center u-text u-text-8"><a href="{% url 'add_auction-detail' add_auction.pk %}">Buy now</a></p>
                {% if user.is_superuser %}
                <a href="{% url 'add_auction_update' add_auction.pk %}">Edit</a>
                <a href="{% url 'add_auction_delete' add_auction.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<!-- Stránkování pro 'Buy Now' aukce -->
<div class="pagination">
    <span class="step-links">
        {% if buy_now_page_obj.has_previous %}
            <a href="?buy_now_page={{ buy_now_page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ buy_now_page_obj.number }} of {{ buy_now_page_obj.paginator.num_pages }}
        </span>
        {% if buy_now_page_obj.has_next %}
            <a href="?buy_now_page={{ buy_now_page_obj.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

<h3>Poslední přidané inzeráty s promotion:</h3>
<div class="add_auction-container">
    {% for add_auction in promotion_page_obj %}
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white promotion-auction">
            <div class="u-container-layout u-similar-container u-container-layout-2">
                {% if add_auction.photo %}
                    <a href="{% url 'add_auction-detail' add_auction.pk %}">
                        <img class="u-expanded-width u-image u-image-default u-image-2" alt="" src="{{ add_auction.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                    </a>
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <p class="u-align-center u-text u-text-5">{{ add_auction.category }} - {{ add_auction.name_auction }}</p>
                <p class="u-align-center u-text u-text-6">{{ add_auction.price|price_format }} Kč</p>
                <p class="u-align-center u-text u-text-8"><a href="{% url 'add_auction-detail' add_auction.pk %}">Place Bid</a></p>
                {% if user.is_superuser %}
                <a href="{% url 'add_auction_update' add_auction.pk %}">Edit</a>
                <a href="{% url 'add_auction_delete' add_auction.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<!-- Stránkování pro 'Promotion' aukce -->
<div class="pagination">
    <span class="step-links">
        {% if promotion_page_obj.has_previous %}
            <a href="?promotion_page={{ promotion_page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ promotion_page_obj.number }} of {{ promotion_page_obj.paginator.num_pages }}
        </span>
        {% if promotion_page_obj.has_next %}
            <a href="?promotion_page={{ promotion_page_obj.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

<h3>Poslední přidané inzeráty bez promotion:</h3>
<div class="add_auction-container">
    {% for add_auction in no_promotion_page_obj %}
        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-2">
                {% if add_auction.photo %}
                    <a href="{% url 'add_auction-detail' add_auction.pk %}">
                        <img class="u-expanded-width u-image u-image-default u-image-2" alt="" src="{{ add_auction.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">
                    </a>
                {% else %}
                    <p>No image available</p>
                {% endif %}
                <p class="u-align-center u-text u-text-5">{{ add_auction.category }} - {{ add_auction.name_auction }}</p>
                <p class="u-align-center u-text u-text-6">{{ add_auction.price|price_format }} Kč</p>
                <p class="u-align-center u-text u-text-8"><a href="{% url 'add_auction-detail' add_auction.pk %}">Place Bid</a></p>
                {% if user.is_superuser %}
                <a href="{% url 'add_auction_update' add_auction.pk %}">Edit</a>
                <a href="{% url 'add_auction_delete' add_auction.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<!-- Stránkování pro 'No Promotion' aukce -->
<div class="pagination">
    <span class="step-links">
        {% if no_promotion_page_obj.has_previous %}
            <a href="?no_promotion_page={{ no_promotion_page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ no_promotion_page_obj.number }} of {{ no_promotion_page_obj.paginator.num_pages }}
        </span>
        {% if no_promotion_page_obj.has_next %}
            <a href="?no_promotion_page={{ no_promotion_page_obj.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
