{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <style>
        /* Wrapper for centering all content */
        .center-wrapper {
            max-width: 1200px;
            margin: 0 auto;
            text-align: center;
        }

        .buy-now-auction, .promotion-auction {
            border: 3px solid gold;
            background-color: #fff8dc;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin: 15px;
            vertical-align: top;
            width: 250px;
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .buy-now-auction:hover, .promotion-auction:hover, .without-promotion-auction:hover {
            transform: scale(1.02);
            transition: transform 0.2s ease-in-out;
        }

        /* Slideshow */
        .slideshow-container {
            position: relative;
            overflow: hidden;
        }

        /* Obrázky mají pevnou velikost */
        .slideshow-image {
            width: 100%; /* Pevná šířka obrázku */
            height: 200px; /* Pevná výška obrázku */
            object-fit: cover; /* Obrázky se přizpůsobí a oříznou, aby zapadly do velikosti */
            display: none; /* Skryjeme obrázky, které nejsou aktivní */
            border-radius: 5px;
        }

        /* Aktivní obrázek */
        .slideshow-image.active {
            display: block;
        }
        
.btn-gold {
    background-color: #DAA520; /* Zlatavá barva */
    color: white; /* Barva textu */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Zaoblené rohy */
}

.btn-gold:hover {
    background-color: #FFD700; /* Jasnější zlatá při najetí myší */
}
.time-remaining {
    display: flex;
    align-items: center; /* Vertikálně zarovná obsah */
    min-height: 60px; /* Nastaví minimální výšku na výšku dvou řádků */
    text-align: center; /* Volitelně, pro zarovnání textu na střed */
}
    </style>

    <!-- Start of centered content wrapper -->
    <div class="center-wrapper">
        <h2>{{ page_name }}</h2>

        <h3>Promotion:</h3>
        <div class="add_auction-container">
            {% for add_auction in promotion_page_obj %}
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white promotion-auction">
                    <a href="{% url 'add_auction-detail' add_auction.pk %}"
                       style="text-decoration: none; color: inherit;">
                        <div class="u-container-layout u-similar-container u-container-layout-2">


                            <!-- Zobrazení obrázků pro aukci (slideshow) -->
                            {% if add_auction.images.all %}


                                <!-- Slideshow kontejner pro tuto aukci -->
                                <div class="slideshow-container" id="slideshow-{{ add_auction.pk }}">
                                    {% for image in add_auction.images.all %}
                                        <img class="slideshow-image" alt="Image for {{ add_auction.name_auction }}"
                                             src="{{ image.image.url }}">
                                    {% endfor %}
                                </div>

                            {% else %}
                                <p>No image available</p>
                            {% endif %}

                            <p class="u-align-center u-text u-text-5">{{ add_auction.category }}
                            <p class="u-align-center u-text u-text-5.1">{{ add_auction.name_auction }}</p>
                            {% if add_auction.previous_price is None %}
                                <p class="u-align-center u-text u-text-6">{{ add_auction.start_price|price_format }}
                                    Kč</p><br>
                            {% else %}
                                <p class="u-align-center u-text u-text-6">{{ add_auction.price|price_format }} Kč</p>
                            {% endif %}

                            {% if add_auction.previous_price %}
                                <p class="u-align-center u-text u-text-7">
                                    <del>{{ add_auction.previous_price|price_format }} Kč</del>
                                    <br>
                                </p>
                            {% endif %}

                            <!-- Zobrazení zbývajícího času -->
                            <p class="time-remaining">
                                {% if add_auction.days_left > 0 %}
                                    {{ add_auction.days_left }} days
                                {% endif %}
                                {% if add_auction.hours_left > 0 %}
                                    {{ add_auction.hours_left }} hours
                                {% endif %}
                                {% if add_auction.minutes_left > 0 %}
                                    {{ add_auction.minutes_left }} minutes
                                {% endif %}
                            </p>

                            <p class="u-align-center u-text u-text-8"><button class="btn btn-gold">Place Bid</button></p>

                            {% if user.is_superuser %}
                                <a href="{% url 'add_auction_update' add_auction.pk %}">Edit</a>
                                <a href="{% url 'add_auction_delete' add_auction.pk %}">Delete</a>
                            {% endif %}
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>

        <!-- Stránkování pro 'Promotion' aukce -->
        <div class="pagination">
        <span class="step-links">
            {% if promotion_page_obj.has_previous %}
                <a href="?page={{ promotion_page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ promotion_page_obj.number }} of {{ promotion_page_obj.paginator.num_pages }}
            </span>

            {% if promotion_page_obj.has_next %}
                <a href="?page={{ promotion_page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
        </div>

        <h3>Buy now:</h3>
        <div class="add_auction-container">
            {% for add_auction in buy_now_page_obj %}
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white buy-now-auction">
                    <a href="{% url 'add_auction-detail' add_auction.pk %}"
                       style="text-decoration: none; color: inherit;">
                        <div class="u-container-layout u-similar-container u-container-layout-2">

                            <!-- Zobrazení obrázků pro aukci (slideshow) -->
                            {% if add_auction.images.all %}

                                <!-- Slideshow kontejner pro tuto aukci -->
                                <div class="slideshow-container" id="slideshow-{{ add_auction.pk }}">
                                    {% for image in add_auction.images.all %}
                                        <img class="slideshow-image" alt="Image for {{ add_auction.name_auction }}"
                                             src="{{ image.image.url }}">
                                    {% endfor %}
                                </div>

                            {% else %}
                                <p>No image available</p>
                            {% endif %}

                            <p class="u-align-center u-text u-text-5">{{ add_auction.category }}
                            <p class="u-align-center u-text u-text-5.1">{{ add_auction.name_auction }}</p>
                            <p class="u-align-center u-text u-text-6">{{ add_auction.buy_now_price|price_format }}
                                Kč</p>

                            <!-- Zobrazení zbývajícího času -->
                            <p class="time-remaining">
                                {% if add_auction.days_left > 0 %}
                                    {{ add_auction.days_left }} days
                                {% endif %}
                                {% if add_auction.hours_left > 0 %}
                                    {{ add_auction.hours_left }} hours
                                {% endif %}
                                {% if add_auction.minutes_left > 0 %}
                                    {{ add_auction.minutes_left }} minutes
                                {% endif %}
                            </p>

                            <p class="u-align-center u-text u-text-8"><button class="btn btn-gold">Buy Now</button></p>
                            {% if user.is_superuser %}
                                <a href="{% url 'add_auction_update' add_auction.pk %}">Edit</a>
                                <a href="{% url 'add_auction_delete' add_auction.pk %}">Delete</a>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Stránkování pro 'Buy Now' aukce -->
        <div class="pagination">
        <span class="step-links">
            {% if buy_now_page_obj.has_previous %}
                <a href="?page={{ buy_now_page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ buy_now_page_obj.number }} of {{ buy_now_page_obj.paginator.num_pages }}
            </span>

            {% if buy_now_page_obj.has_next %}
                <a href="?page={{ buy_now_page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
        </div>

        <h3>Without promotion:</h3>
        <div class="add_auction-container">
            {% for add_auction in no_promotion_page_obj %}
                <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white without-promotion-auction">
                    <a href="{% url 'add_auction-detail' add_auction.pk %}"
                       style="text-decoration: none; color: inherit;">
                        <div class="u-container-layout u-similar-container u-container-layout-2">

                            <!-- Zobrazení obrázků pro aukci (slideshow) -->
                            {% if add_auction.images.all %}

                                <!-- Slideshow kontejner pro tuto aukci -->
                                <div class="slideshow-container" id="slideshow-{{ add_auction.pk }}">
                                    {% for image in add_auction.images.all %}
                                        <img class="slideshow-image" alt="Image for {{ add_auction.name_auction }}"
                                             src="{{ image.image.url }}">
                                    {% endfor %}
                                </div>

                            {% else %}
                                <p>No image available</p>
                            {% endif %}

                            <p class="u-align-center u-text u-text-5">{{ add_auction.category }}
                            <p class="u-align-center u-text u-text-5.1">{{ add_auction.name_auction }}</p>
                            {% if add_auction.previous_price is None %}
                                <p class="u-align-center u-text u-text-6">{{ add_auction.start_price|price_format }}
                                    Kč</p>
                            {% else %}
                                <p class="u-align-center u-text u-text-6">{{ add_auction.price|price_format }} Kč</p>
                            {% endif %}

                            {% if add_auction.previous_price %}
                                <p class="u-align-center u-text u-text-7">
                                    <del>{{ add_auction.previous_price|price_format }} Kč</del>
                                    <br>
                                </p>
                            {% endif %}

                            <!-- Zobrazení zbývajícího času -->
                            <p class="time-remaining">
                                {% if add_auction.days_left > 0 %}
                                    {{ add_auction.days_left }} days
                                {% endif %}
                                {% if add_auction.hours_left > 0 %}
                                    {{ add_auction.hours_left }} hours
                                {% endif %}
                                {% if add_auction.minutes_left > 0 %}
                                    {{ add_auction.minutes_left }} minutes
                                {% endif %}
                            </p>


                            <p class="u-align-center u-text u-text-8"><button class="btn btn-gold">Place Bid</button></p>
                            {% if user.is_superuser %}
                                <a href="{% url 'add_auction_update' add_auction.pk %}">Edit</a>
                                <a href="{% url 'add_auction_delete' add_auction.pk %}">Delete</a>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Stránkování pro 'No Promotion' aukce -->
        <div class="pagination">
        <span class="step-links">
            {% if no_promotion_page_obj.has_previous %}
                <a href="?page={{ no_promotion_page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ no_promotion_page_obj.number }} of {{ no_promotion_page_obj.paginator.num_pages }}
            </span>

            {% if no_promotion_page_obj.has_next %}
                <a href="?page={{ no_promotion_page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
        </div>
    </div> <!-- End of centered content wrapper -->

    <script>
        // Uložit pozici při kliknutí na stránkovací odkazy
        document.addEventListener('DOMContentLoaded', function () {
            const paginationLinks = document.querySelectorAll('.pagination a');

            paginationLinks.forEach(link => {
                link.addEventListener('click', function () {
                    // Uložit aktuální scroll pozici do localStorage
                    localStorage.setItem('scrollPosition', window.scrollY);
                });
            });

            // Obnovit pozici při načtení stránky
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition) {
                window.scrollTo(0, scrollPosition);
                // Odstranit uloženou pozici, aby se nepoužila při dalších změnách stránek
                localStorage.removeItem('scrollPosition');
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const slideshows = document.querySelectorAll('[id^="slideshow-"]');

            slideshows.forEach(function (slideshow) {
                let images = slideshow.querySelectorAll('.slideshow-image');
                let index = 0;

                // Funkce pro přepínání obrázků
                function showNextImage() {
                    images.forEach(img => img.classList.remove('active')); // Skryjeme všechny obrázky
                    index = (index + 1) % images.length; // Přepneme na další obrázek
                    images[index].classList.add('active'); // Zobrazíme další obrázek
                }

                // Zobrazíme první obrázek na začátku
                images[0].classList.add('active');

                // Spustíme slideshow, změní obrázek každé 3 sekundy
                setInterval(showNextImage, 3000);
            });
        });
    </script>

{% endblock %}
