{% extends "base.html" %}
{% load static %}
{% load my_filters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{#<h1>Uvítací stránka - index.html</h1>#}
{##}
{#    <h3>Poslední přidané inzeráty kup teď:</h3>#}
{##}
{#<!-- Kontejner pro všechny inzeráty -->#}
{#<div class="advertisement-container">#}
{#    {% load humanize %}#}
{#    {% for advertisement in buy_now_advertisements %}#}
{#        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#            <div class="u-container-layout u-similar-container u-container-layout-2">#}
{#                {% if advertisement.photo %}#}
{#                    <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="2000" data-image-height="1330" src="{{ advertisement.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">#}
{#                {% else %}#}
{#                    <p>No image available</p> <!-- Placeholder for when there is no photo -->#}
{#                {% endif %}#}
{#                <p class="u-align-center u-text u-text-5">{{ advertisement.category }} - {{ advertisement.name }}</p>#}
{#                <p class="u-align-center u-text u-text-6">{{ advertisement.price|price_format }} Kč</p>#}
{#                <p class="u-align-center u-text u-text-7"><del>19.000 Kč</del></p>#}
{#                <a href="{% url 'advertisement_update' advertisement.pk %}">upravit</a>#}
{#                <a href="{% url 'advertisement_delete' advertisement.pk %}">smazat</a>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}
{##}
{##}
{#    <h3>Poslední přidané inzeráty s promotion:</h3>#}
{##}
{#<!-- Kontejner pro všechny inzeráty -->#}
{#<div class="advertisement-container">#}
{#    {% for advertisement in promotion_advertisements %}#}
{#        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#            <div class="u-container-layout u-similar-container u-container-layout-2">#}
{#                {% if advertisement.photo %}#}
{#                    <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="2000" data-image-height="1330" src="{{ advertisement.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">#}
{#                {% else %}#}
{#                    <p>No image available</p> <!-- Placeholder for when there is no photo -->#}
{#                {% endif %}#}
{#                <p class="u-align-center u-text u-text-5">{{ advertisement.category }} - {{ advertisement.name }}</p>#}
{#                <p class="u-align-center u-text u-text-6">{{ advertisement.price|price_format }} Kč</p>#}
{#                <p class="u-align-center u-text u-text-7"><del>19.000 Kč</del></p>#}
{#                <a href="{% url 'advertisement_update' advertisement.pk %}">upravit</a>#}
{#                <a href="{% url 'advertisement_delete' advertisement.pk %}">smazat</a>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}
{##}
{#    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">#}
{##}
{##}
{#    <h3>Poslední přidané inzeráty bez promotion:</h3>#}
{##}
{#<!-- Kontejner pro všechny inzeráty -->#}
{#<div class="advertisement-container">#}
{#    {% for advertisement in no_promotion_advertisements %}#}
{#        <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#            <div class="u-container-layout u-similar-container u-container-layout-2">#}
{#                {% if advertisement.photo %}#}
{#                    <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="2000" data-image-height="1330" src="{{ advertisement.photo.url }}" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">#}
{#                {% else %}#}
{#                    <p>No image available</p> <!-- Placeholder for when there is no photo -->#}
{#                {% endif %}#}
{#                <p class="u-align-center u-text u-text-5">{{ advertisement.category }} - {{ advertisement.name }}</p>#}
{#                <p class="u-align-center u-text u-text-6">{{ advertisement.price|price_format }} Kč</p>#}
{#                <p class="u-align-center u-text u-text-7"><del>19.000 Kč</del></p>#}
{#                <a href="{% url 'advertisement_update' advertisement.pk %}">upravit</a>#}
{#                <a href="{% url 'advertisement_delete' advertisement.pk %}">smazat</a>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}
{##}
{##}
{#  #}
{#    <section class="u-align-center u-clearfix u-container-align-center u-grey-10 u-section-2" id="carousel_258b">#}
{#      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">#}
{#        <h2 class="u-align-center u-text u-text-default u-text-1">S láskou k umění!</h2>#}
{#        <div class="u-expanded-width u-list u-list-1">#}
{#          <div class="u-repeater u-repeater-1">#}
{#            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#              <div class="u-container-layout u-similar-container u-container-layout-1">#}
{#                <img class="u-expanded-width u-image u-image-default u-image-1" alt="" data-image-width="2000" data-image-height="1333" src="{% static "default-image-7.jpg" %}">#}
{#                <p class="u-align-center u-text u-text-2">Ladislav Maria Wagner</p>#}
{##}
{#                <p class="u-align-center u-text u-text-3">70.000 Kč</p>#}
{#                  <p class="u-align-center u-text u-text-4"><del>65.000 Kč</del></p>#}
{#                <a href="#" class="u-align-center u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-custom-item u-none u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Kup teď</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#              <div class="u-container-layout u-similar-container u-container-layout-2">#}
{#                <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="2000" data-image-height="1333" src="{% static "default-image-7.jpg" %}">#}
{#                <p class="u-align-center u-text u-text-5">Leopold Musil<br>#}
{#                </p>#}
{#                <p class="u-align-center u-text u-text-6">24.000 Kč</p>#}
{#                  <p class="u-align-center u-text u-text-7"><del>19.000 Kč</del></p>#}
{#                <a href="#" class="u-align-center u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-custom-item u-none u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Kup teď</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#              <div class="u-container-layout u-similar-container u-container-layout-3">#}
{#                <img class="u-expanded-width u-image u-image-default u-image-3" alt="" data-image-width="2000" data-image-height="1333" src="{% static "default-image-7.jpg" %}">#}
{#                <p class="u-align-center u-text u-text-8">Vilém Wünsche</p>#}
{#                <p class="u-align-center u-text u-text-9">36.000 Kč</p>#}
{#                  <p class="u-align-center u-text u-text-10"><del>31.000 Kč</del></p>#}
{#                <a href="#" class="u-align-center u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-custom-item u-none u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Kup teď</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#              <div class="u-container-layout u-similar-container u-container-layout-4">#}
{#                <img class="u-expanded-width u-image u-image-default u-image-4" alt="" data-image-width="2000" data-image-height="1333" src="{% static "default-image-7.jpg" %}">#}
{#                <p class="u-align-center u-text u-text-11">Vlastimil Zábranský</p>#}
{#                <p class="u-align-center u-text u-text-12">46.000 Kč</p>#}
{#                  <p class="u-align-center u-text u-text-13"><del>41.000 Kč</del></p>#}
{#                <a href="#" class="u-align-center u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-custom-item u-none u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-btn-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Kup teď</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#              <div class="u-container-layout u-similar-container u-container-layout-5">#}
{#                <img class="u-expanded-width u-image u-image-default u-image-5" alt="" data-image-width="2000" data-image-height="1333" src="{% static "default-image-7.jpg" %}">#}
{#                <p class="u-align-center u-text u-text-14">Antonín Kroča</p>#}
{#                <p class="u-align-center u-text u-text-15">117.000 Kč</p>#}
{#                  <p class="u-align-center u-text u-text-16"><del>112.000 Kč</del></p>#}
{#                <a href="#" class="u-align-center u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-custom-item u-none u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-btn-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Kup teď</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#              <div class="u-container-layout u-similar-container u-container-layout-6">#}
{#                <img class="u-expanded-width u-image u-image-default u-image-6" alt="" data-image-width="2000" data-image-height="1333" src="{% static "default-image-7.jpg" %}">#}
{#                <p class="u-align-center u-text u-text-17">Josef Jíra</p>#}
{#                <p class="u-align-center u-text u-text-18">125.000 Kč</p>#}
{#                <p class="u-align-center u-text u-text-19"><del>120.000 Kč</del></p>#}
{#                <a href="#" class="u-align-center u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-custom-item u-none u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-btn-6" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Kup teď</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#              <div class="u-container-layout u-similar-container u-container-layout-7">#}
{#                <img class="u-expanded-width u-image u-image-default u-image-7" alt="" data-image-width="2000" data-image-height="1333" src="{% static "default-image-7.jpg" %}">#}
{#                <p class="u-align-center u-text u-text-20">Bohumír Dvorský</p>#}
{#                <p class="u-align-center u-text u-text-21">160.000</p>#}
{#                  <p class="u-align-center u-text u-text-22"><del>155.000 Kč</del></p>#}
{#                <a href="#" class="u-align-center u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-custom-item u-none u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-btn-7" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Kup teď</a>#}
{#              </div>#}
{#            </div>#}
{#            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">#}
{#              <div class="u-container-layout u-similar-container u-container-layout-8">#}
{#                <img class="u-expanded-width u-image u-image-default u-image-8" alt="" data-image-width="2000" data-image-height="1333" src="{% static "default-image-7.jpg" %}">#}
{#                <p class="u-align-center u-text u-text-23">Pohled na Karlštejn</p>#}
{#                <p class="u-align-center u-text u-text-24">115.000 Kč</p>#}
{#                  <p class="u-align-center u-text u-text-25"><del>110.000 Kč</del></p>#}
{#                <a href="#" class="u-align-center u-border-1 u-border-active-palette-1-base u-border-black u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-custom-item u-none u-text-active-palette-1-base u-text-body-color u-text-hover-palette-1-base u-btn-8" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Kup teď</a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <a href="#" class="u-btn u-button-style u-btn-9">Prohlížet další</a>#}
{#      </div>#}
{#    </section>#}
{#    <section class="u-align-center u-clearfix u-container-align-center u-palette-1-base u-section-3" id="sec-6b3c">#}
{#      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">#}
{#        <h2 class="u-align-center u-text u-text-default u-text-1">Recent Works</h2>#}
{#        <div class="u-expanded-width-sm u-expanded-width-xs u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" id="carousel-7413">#}
{#          <div class="u-gallery-inner u-gallery-inner-1" role="listbox"><div class="u-effect-fade u-gallery-item u-gallery-item-1"><div class="u-back-slide"><img class="u-back-image" src="{% static "90fc53c9.svg" %}">#}
{#</div><div class="u-align-center u-over-slide u-valign-bottom u-over-slide-1"></div>#}
{#</div><div class="u-effect-fade u-gallery-item u-gallery-item-2"><div class="u-back-slide"><img class="u-back-image" src="{% static "90fc53c9.svg" %}">#}
{#</div><div class="u-align-center u-over-slide u-valign-bottom u-over-slide-2"></div>#}
{#</div><div class="u-effect-fade u-gallery-item u-gallery-item-3"><div class="u-back-slide"><img class="u-back-image" src="{% static "default-image-7.jpg" %}">#}
{#</div><div class="u-align-center u-over-slide u-valign-bottom u-over-slide-3"></div>#}
{#</div><div class="u-effect-fade u-gallery-item u-gallery-item-4"><div class="u-back-slide"><img class="u-back-image" src="{% static "default-image-7.jpg" %}">#}
{#</div><div class="u-align-center u-over-slide u-valign-bottom u-over-slide-4"></div>#}
{#</div><div class="u-effect-fade u-gallery-item u-gallery-item-5"><div class="u-back-slide"><img class="u-back-image" src="{% static "default-image-7.jpg" %}">#}
{#</div><div class="u-align-center u-over-slide u-valign-bottom u-over-slide-5"></div>#}
{#</div><div class="u-effect-fade u-gallery-item u-gallery-item-6"><div class="u-back-slide"><img class="u-back-image" src="{% static "default-image-7.jpg" %}">#}
{#</div><div class="u-align-center u-over-slide u-valign-bottom u-over-slide-6"></div>#}
{#</div><div class="u-effect-fade u-gallery-item u-gallery-item-7"><div class="u-back-slide"><img class="u-back-image" src="{% static "default-image-7.jpg" %}">#}
{#</div><div class="u-align-center u-over-slide u-valign-bottom u-over-slide-7"></div>#}
{#</div><div class="u-effect-fade u-gallery-item u-gallery-item-8"><div class="u-back-slide"><img class="u-back-image" src="{% static "default-image-7.jpg" %}">#}
{#</div><div class="u-align-center u-over-slide u-valign-bottom u-over-slide-8"></div>#}
{#</div></div>#}
{#          <a class="u-absolute-vcenter u-border-2 u-border-grey-60 u-border-hover-black u-gallery-nav u-gallery-nav-prev u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-grey-60 u-text-hover-black u-gallery-nav-1" href="#" role="button">#}
{#            <span aria-hidden="true">#}
{#              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0#}
{#c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744#}
{#c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>#}
{#            </span>#}
{#            <span class="sr-only">#}
{#              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0#}
{#c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744#}
{#c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>#}
{#            </span>#}
{#          </a>#}
{#          <a class="u-absolute-vcenter u-border-2 u-border-grey-60 u-border-hover-black u-gallery-nav u-gallery-nav-next u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-grey-60 u-text-hover-black u-gallery-nav-2" href="#" role="button">#}
{#            <span aria-hidden="true">#}
{#              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744#}
{#L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284#}
{#c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>#}
{#            </span>#}
{#            <span class="sr-only">#}
{#              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744#}
{#L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284#}
{#c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>#}
{#            </span>#}
{#          </a>#}
{#        </div>#}
{#      </div>#}


    
{% endblock %}
    
